/*general*/
* {
    font-family: Inder, monospace;
}

/*navbar*/
.brand {
    margin: 0;
    font-family: Inder, monospace;
    font-size: 1.7rem;
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav {
    display:flex;
    align-items: center;
    background-color: #2F8763;
    padding: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    
}

.menuIcon {
    width: 50px;
    height: 50px;
}

.navItem:first-of-type {
     margin-left: auto;
}

.navItem:last-of-type {
    margin-right: 100px;
}

.navItem {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #0361C4;
    border-radius: 10px;
    padding: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*index.html*/
/*hero*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(97, 138, 84, 0.5)), url(images/hero.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.heroButton {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #62EA62;
    border-radius: 10px;
    padding: 1.6rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.heroText {
    margin: 3rem;
    font-family: Inder, monospace;
    font-size: 3rem;
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Welcome section*/
.Welcome {
    background-image: url(images/rectangle-34.svg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.Welcome h2 {
    flex-basis: 100%;
    color: white;
}

.Welcome img {
    width: 418px;
    flex-shrink: 1;
}

.Welcome p {
    flex-shrink: 1;
    flex-basis: 70%;
    color: white;
}



