/*general*/
* {
    font-family: Inder, monospace;
}

/*navbar*/
.brand {
    margin: 0;
    font-family: Inder, monospace;
    font-size: 1.7rem;
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav {
    display:flex;
    align-items: center;
    background-color: #2F8763;
    padding: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    
}

.menuIcon {
    width: 50px;
    height: 50px;
}

.navItem:first-of-type {
     margin-left: auto;
}

.navItem:last-of-type {
    margin-right: 100px;
}

.navItem {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #0361C4;
    border-radius: 10px;
    padding: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*hero*/
.hero {
    background-image: url(images/hero.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}